language: objective-c
script: bundle exec rake
osx_image: xcode9.2

before_install:
  - curl http://curl.haxx.se/ca/cacert.pem -o /usr/local/share/cacert.pem
  - gem install bundler -v "~> 1.0" --no-ri --no-rdoc

install:
  - bundle install --without=documentation
